<div class="background">
  <div class="layer">
    <h1 class="navbar-title">GILLIAN WENHOLD</h1>
  </div>
</div>

<div class="container">
  <h1>About Me</h1>
  <p>My name is Gillian Wenhold, and I live in Memphis, TN. I am originally from Collegeville, PA, and moved to Memphis about five years ago. I had a lot of trouble making up my mind about what I wanted to do with life, but landed on software development. It makes a lot of sense to me, and I love doing it.</p>
</div>
