<div class="background">
  <div class="layer">
    <h1 class="background-title">GILLIAN WENHOLD</h1>
    <p class="background-text">Software Developer | Memphis, TN</p>
  </div>
</div>

<div class="container">
  <h1 class="title">About Me</h1>
  <%= image_tag("gillian.PNG", :class => "headshot") %>
  <p>My name is Gillian Wenhold, and I am a software developer from Memphis, TN. I began my career as the founder of a startup that was developing a mobile application to support nonprofits and socially responsible businesses. During this time, I wore many hats - I was a videographer and photographer, a writer, and a project manager. I created graphics and marketing collateral using the Adobe suite, and tried my hand at UX design and front-end development.</p>
  <p>These first few steps into the world of software development evolved into a passion for designing solutions through code that grew stronger with every new skill I learned. As my knowledge base continues to expand, my hope is to use these tools to support people and organizations who are solving the many problems afflicting our society today.</p>
  <div class="centered-container">
    <a class="btn" href="/projects">PROJECTS</a>
  </div>
</div>
