<div class="background">
  <div class="layer">
    <h1 class="background-title">PROJECTS</h1>
  </div>
</div>

<div class="container">

  <div class="project-card">
    <h1 class="project-header">RCV Simulator</h1>
    <a class="btn btn-project" target="_blank" href="https://github.com/gillianwenhold/rcv-simulator">Github</a>
    <p>This is a volunteer project (in-progress) for Ranked Choice Tennessee. The app is a digital version of the game/simulator used by the organization to explain the process of Ranked Choice Voting (RCV). After learning what RCV is, users solidify their understanding by using this method to tally votes for which pizza to buy for a group of friends.</p>
    <p style="margin-bottom: 2em;"><strong>Technology Stack:</strong> Ruby on Rails, JSON API, Javascript(jQuery)/HTML/CSS frontend</p>
    <%= video_tag "RCV-Simulator.mp4", controls: true, poster: "RCV-Simulator.PNG" :class => "video"%>
  </div>

  <div class="project-card">
    <h1 class="project-header">TN Congressional Directory</h1>
    <a class="btn btn-project" target="_blank" href="https://github.com/gillianwenhold/tn_congress">Github</a>
    <p>This is a CLI gem that serves as a directory of all Congresspeople in the state of Tennessee by using a web scraper to pull data from the members directory of "http://www.capitol.tn.gov". Users can learn more about representatives in the TN House and Senate, including biographical information and/or recent bills they have sponsored.</p>
    <p style="margin-bottom: 2em;"><strong>Language:</strong> Ruby</p>
    <%= video_tag "CLI-Gem.mp4", controls: true, poster: "CLI-Gem.PNG", :class => "video"%>
  </div>

  <div class="project-card">
    <h1 class="project-header">Task Manager</h1>
    <a class="btn btn-project" target="_blank" href="https://github.com/gillianwenhold/tasks_final_project">Github</a>
    <p>This app is a group task manager, suitable for organizations with sub-groups to easily categorize and manage their to-do lists. Users can view all tasks and other users belonging to their group, create new tasks, or claim existing ones to complete. Admin users have the additional ability to see to-do lists belonging to all groups, as well as add/delete groups and tasks.</p>
    <p style="margin-bottom: 2em;"><strong>Technology Stack:</strong> Ruby on Rails, JSON API, HTML/CSS frontend with Javascript/jQuery</p>
    <%= video_tag "Task-Manager.mp4", controls: true, poster: "Task-Manager.PNG", :class => "video"%>
  </div>

  <div class="project-card">
    <h1 class="project-header">This Website</h1>
    <a class="btn btn-project" target="_blank" href="https://github.com/gillianwenhold/portfolio">Github</a>
    <p style="margin-bottom: 2em;"><strong>Technology Stack:</strong> Ruby on Rails, HTML/CSS frontend</p>
  </div>
</div>

